@import "../../styles/variable.scss";
.container {
  display: flex;
  margin: $padding 0;
   &:hover {
   .actions{
      visibility: visible;
    } 
  }
}

.content {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: $padding/2;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  visibility: hidden;
}