@import '../../styles/variable.scss';
.main{
  margin: $padding auto;

  @include respond-to($break-handset){
    .bigpic{
      margin-right: 0.42857rem;
      padding-bottom: 0.42857rem;
    }

    .toggle{
      visibility: visible;
    }
    .username{
      @include ellipsisTexts(120px)
    }
  }

}
.bigpic{
  display: inline-flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  margin-right: $padding;
  padding-bottom: $padding;

  &:hover{
    .toggle{
      visibility: visible;
    }
  }
}
.pic{
  display: block;
  border-radius: 50%;
}
.toggle{
  visibility: hidden;
}