@import "../../styles/variable.scss";
figure { 
  display: inline-flex;
  &>img {
    border: $borderGray;
    padding: 2px;
    background: $white;
    flex: 1; 
    width: 62px;
  }
}

.fullname {
  font-size: $menuSize;
  color: #333;
  width: $_180pxEm;
}

.showMore{
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: px2rem(10px);
}
.showMore_open{
  composes:showMore;
  height: initial;
}
.btn_showmore{
  cursor: pointer;
  height: $padding;
}
.wrapper{
    height: px2rem(10px);
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0),#ffffff);
    position: absolute;
    bottom: $padding;
}
.desc {
  font-size: px2rem(12px);
  color: $subFontColor; 
  top: $padding;
  line-height: 1.2em;
  overflow: hidden; 
}

.miniPanel{ 
  overflow: hidden;
  display: flex;
  margin-bottom: 2px; 
  &>li {
    flex: 1;
    margin: 0 2px 0 -2px;
    border-left: 1px solid #c2c2c2;
    &:first-child {
      border-left: none;
    }
    &:nth-child(n+1) {
        padding: 0 px2rem(10px);   
    }

    &>a { 
      display: block;
      color: #999!important;
      &>i {
        display: block;
        padding: 0 0 0 2px;
        font-size: $smallIcon;
      }
      &>span {
        display: block; 
        font-size: $padding;
        line-height: $padding;
        font-family: Arial;
      }
    }
  }
}

.container {
  padding: 2.14em  2.14em 2.14em 0;
  position: relative;
}

.info { 
  position: relative; 
  margin-left: $padding;
}