@import '../../styles/variable.scss';
.main{
  width: $contentMinWidth;  
  padding: 30px;
  background: $background;
  margin: auto;
  margin-top: $headerHight;
}
.comments{
  padding: px2rem(40px);
}
.edit{
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}
.comment_body{
  display: flex;
}

.replay_div{
  display: flex;
  background: $backgroundSecondary;
}
.replay_input{
  
  width: 100%;
  padding: px2rem(10px);
  &>input{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: none; 
    padding-left: 5px;
    box-shadow: inset 0 0 2px #a0a0a0
  }
  &:hover{
    cursor:pointer;
  }
  &:focus{
    cursor:auto;
  }
}

.replay_operators{
  
}