@import '../../styles/variable.scss';
.main{
  width: $contentMinWidth;  
  padding: 30px;
  background: $backgroundSecondary;
  margin: auto;
  margin-top: $headerHight;
}
.edit{
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}