@import '../../styles/variable.scss';

.tabs_container{
  min-height: $tabHeight;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 2px 0px #a9a9a9;
}

.tabs{
  display: flex;
  width: 100%;
}

.tabs>div{
  flex: 1;
  text-align: center;  
  height: 100%;
  font-size: $bigIcon;
  line-height: $tabHeight;
  &:hover{
    cursor:pointer;
  }
}
.link{
  position: absolute;
  height: px2rem(5px);
  background: white;  
  bottom: 0;
}