@import '../../styles/variable.scss';

.base{
  font-size: $mediumIcon;
  display: flex;
  cursor:pointer;
  position: relative;
  padding: 0.5em 0;
}

.view{
  position: absolute;
  right: 0.25em;
  &:hover{
    color:#222;
  }
}