@import '../../styles/variable.scss';
@mixin base{
  display: inherit;
  justify-content: inherit;
  align-content: inherit;
  align-items: inherit;
  width: inherit;
  visibility: hidden;
}

.normal{
  @include base;
}
.active{
  @include base;
  visibility: visible;
}
.btnContainer{
  margin-right: $padding/2;
}
