@import '../../styles/variable.scss';
@mixin base{
  visibility: none;
  display: inherit;
  justify-content: inherit;
  align-content: inherit;
  align-items: inherit;
  width: inherit;
}
.normal{
  @include base;
}
.active{
  @include base;
  visibility: visible;
}