// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

$break-large: 1200px;
$break-medium: 680px;
$break-handset: 575px;

$information-large: "only screen and (max-width: "+$break-large+")";
$information-medium: "only screen and (max-width: "+$break-medium+")";
$information-handset: "only screen and (max-width: "+$break-handset+")";

@mixin respond-to($media) {
  @if $media == $break-large {
    @media #{$information-large} {
      @content
    }
  } @else if $media == $break-medium {
    @media #{$information-medium}{
      @content
    }
  } @else if $media == $break-handset {
    @media #{$information-handset} {
      @content
    }
  } @else {
    @media #{"only screen and (max-width: "$media+")"}{
      @content
    }
  }
}
