// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

$break-large: 1200px;
$break-medium: 680px;
$break-handset: 575px;

$information-large: "only screen and (max-width: "+$break-large+")";
$information-medium: "only screen and (max-width: "+$break-medium+")";
$information-handset: "only screen and (max-width: "+$break-handset+")";

@mixin respond-to($media) {
  @if $media == $break-large {
    @media #{$information-large} {
      @content
    }
  } @else if $media == $break-medium {
    @media #{$information-medium}{
      @content
    }
  } @else if $media == $break-handset {
    @media #{$information-handset} {
      @content
    }
  } @else {
    @media #{"only screen and (max-width: "$media+")"}{
      @content
    }
  }
}

$rem:14px;

@media only screen and (min-width: 1200px){
  body {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 680px){
  body {
    font-size: 15px !important;
  }
}

@media only screen and (min-width: 575px){
  body {
    font-size: 15.75px !important;
  }
}

@media only screen and (min-width: 428px){
  body {
    font-size: 16px !important;
  }
}

