@import '../../styles/variable.scss';


div .indexPlay{
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: space-around; 
  position: relative;
  flex: 0;
}
.active{
  composes:indexPlay;
    div.play{
      display: flex;
    }
}

.play{
    position: absolute; 
    display: none; 
    text-align: center;
    background-color: rgba(204, 232, 207, 0.5);
    justify-content: center;
} 


.activeStyle{
  color:$mainColor!important;
}
 
.duration{
    display: block;
 }
.actions{ 
    display: none;    
    justify-content: space-around;
    width: 100%;
} 

._contentBody_streams{
  padding: 0 $contentPadding;
  flex: 3;
}
._contentBody_streams_tag{
  padding-left: px2rem(25px);
  font-size: px2rem(18px);
  padding-bottom: $padding;
  font-weight: bold;
  
}


._stream{
  display: inline-flex;
  padding: 5px 0 ;
  width: 100%;
  align-items: center; 
  border-radius: 5px;
  text-align: center;
  cursor:pointer;
      &>*{
        flex: 1;
        font-weight: bold;
        font-size: 16px;
      }
      & .indexPlay{
          border-radius: 5px;
          box-shadow: inherit;
      }

      &:hover{
        background: $streamHoverColor;
        box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.48);
        text-shadow: 0px 0px 6px rgba(221, 221, 221, 0.31);
        color:white!important;
        ._stream_duration{
           color: white;
        }
        div.play{
           display: flex; 
        }
        div.actions{ 
            display: flex;
            visibility: visible;
        }
        div.duration{
          display: none;
        }
    }
}
._stream_main{
  display: flex;
  flex: 10;
   &:hover{
     div.play{
           display: flex; 
        }
   }
}
._stream_info{
  flex: 1;
  padding-left: 20px;
  margin: auto 0;
  text-align: left;
   &>a{
    &:hover{
      color: white;
    }
    }
} 
._stream_info_title{
  font-weight: bold;
  display: table-cell;  
  @include ellipsisTexts(px2rem(300px));
   &:visited{
      color:#333;
     }
}
._stream_info_author{
  color: #bababa;
   &:visited{
      color:#bababa;
     }
}
._stream_duration{
  color: #777;
  // margin-right: $padding;
  flex: 2;
}
._stream_settings{
  color: #bababa;
  flex: 1;
  margin-right: px2rem(10px);
}
