@import '../../styles/variable.scss';
@mixin permalink {
  font-size: $smallIcon;
  &:hover{
    cursor:pointer;
  }

}
a{
  color: inherit;
  color: #333;
}
.user{
  @include permalink;
  font-size: $mediumIcon;
  &:visited{
    color:#333; 
  }
}
