@import '../../styles/variable.scss';
.track_counts{
  display: flex;
  justify-content: space-between;
  max-width: px2rem(200px);
}

.track_info{
  padding: px2rem(10px);  
  text-align: initial;
  @include ellipsisTexts(px2rem(500px));
  &>*{
    // padding: $padding 0;
    text-overflow: inherit;
    white-space: inherit;
    overflow: inherit;
  }
}