@import '../../styles/variable.scss';
.track_counts{
  display: flex;
  justify-content: space-between;
}

.track_info{
  padding: $padding/2;  
  text-align: initial;
  text-overflow: ellipsis;
  max-width: $_100pxEm*5;
  overflow: hidden;
  white-space: nowrap;
  &>*{
    // padding: $padding 0;
    text-overflow: inherit;
    white-space: inherit;
    overflow: inherit;
  }
}