@import '../../styles/variable.scss';

.main{
  composes:panel;
  color:white;
  height: 100%;
  display: flex;
  input{
    border: none;
    &:focus{
      outline: none;
      height: 100%;
    }
  }
}