@import '../../styles/variable.scss';
.main{
  width: $contentMinWidth;  
  padding: 30px;
  background: $backgroundSecondary;
  margin: auto;
  margin-top: $headerHight;
}
.view{
  height: 325px;
  display: flex;
  position: relative;
}
.comments{
  // background: forestgreen;

}
.commentsCount{
  font-size: $mediumIcon;
  @include bottom_border($usualPadding,$mainColor);
}
.fhmm{
  
}
.infos{
  margin-left: 20px;
  display: flex;
  flex-direction: column;

}
.infos_title{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}
.infos_user{
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: lightgray;
  margin-bottom: 20px;
  & > *{
  margin-right: 10px;
 }
  & img{
  width: 50px;
  height: 50px;
}
}
.infos_actions{
  display: flex;
  color:#333;
  & > *{
    margin-right: 5px;
  }

  button{
      background-color: white;
      border: 1px solid lightgray;
      padding: ($padding/4) $padding;
      border-radius: 5px;
      cursor: pointer;
      color: #333;
    &:focus{
      outline: none;
      }
      &:hover{
      opacity: 0.7;
      }
  }
}
 
.infos_actions_plays{
  color:lightblue;
  background-color: lightblue;
  & button{
  color:white;
  background-color: cornflowerblue;
  border-radius: 0;
  outline: none;
  border: none;
  border-right: 1px solid grey;
  }
}
.edit{
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}