@import '../../styles/variable.scss';

.main{
  width: 100%;

  table{
    font-size: $mediumIcon;
    tr{
      text-align: left;
      td:first-child{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &:nth-child(2n){
        background: $backgroundSecondary;
      }
     }   
   } 
}

.indexPlay{
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: space-around; 
  position: relative;
  
}
.active{
  composes:indexPlay;
       div.play{
        display: flex;
      }
}
.play{
    position: absolute; 
    display: none; 
    text-align: center;
    background-color: rgba(204, 232, 207, 0.5);
    justify-content: center;
}
.top{
  display: flex;
  &>div{
    display: flex;
    flex: 1;
    &>h3{
      margin-right: $padding;
    }
  }
}

.tracks{
    tr{
      &:hover{
        div.play{
        display: flex; 
        }
      }
    }
}

.activeStyle{
  color:$mainColor!important;
}



table{
  border: $borderGray;
  border-top: 2px solid $mainColor; 
  border-collapse: collapse;
  width: 100%;
  font-size: inherit;
}
td{
  line-height: 1.286em;
  padding: 0.429em 0.714em;
  font-size: inherit;
  text-align: center;
  a{
    color: #333!important;
    &::visited{
      color: #333;
    }
  } 
}
tr{
  font-size: inherit;
  &:hover{
    .anchor{
      div.actions{ 
        display: flex;
       }
       div.duration{
         display: none;
       }
    }
  }
}

tr{
  font-size: inherit;
  &:hover{
    .anchor{
      div.actions{ 
        display: flex;
       }
       div.duration{
         display: none;
       }
    }
  }
}

.anchor{
  visibility: visible;
}
.duration{
    display: block;
 }
.actions{ 
    display: none;    
    justify-content: space-around;
    width: 100%;
}
.liveanchor{
  composes:anchor;
   div.actions{ 
        display: flex;
       }
       div.duration{
         display: none;
       }
}