@import '../../styles/variable.scss';

.main{
  width: 52.857em;
}

.indexPlay{
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: space-around; 
}
.top{
  display: flex;
  &>div{
    display: flex;
    flex: 1;
    &>h3{
      margin-right: $padding;
    }
  }
}