@import '../../styles/variable.scss';


.itemContainer {
  padding: px2rem(10px);
}

.itemTitle {
  text-align: center;
  margin-top: $padding;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $padding auto;
  position: relative;
  overflow: hidden;
  @include respond-to($break-handset){
    .label_name{
      @include ellipsisTexts(120px)
    }
  }
}