@import '../../styles/variable.scss';

.playlistInfo{ 
  width: $contentMinWidth; 
  padding: px2rem(30px);
  background: #ffffff;
  margin: auto;
}

.playlistmain{
  min-height: 100vh;
  &>div{
    &:nth-last-child{
      margin-top: $padding;
    }
  }
}

.itemContainer{
  padding: px2rem(10px);
}

.itemTitle{
  text-align: center;
  margin-top: $padding;
}

.playlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $padding auto;
  position: relative;
  overflow: hidden;
}

.playlist_body{
  display: flex;
  width: 100%;
}