@import "../../styles/variable.scss";

.container{ 
  background: $background;
  display: flex;
  width: 91.429em;
  margin: 0 auto;
  margin-top: $headerHight;
}

.aside{
   float: left;
   width: ($_100pxEm*3);
}