@import '../../styles/variable.scss';

.main{
  composes:panel;
}
.nav{
  &>button{
    color: white;
    padding-right: 20px;
    &:hover{
      opacity: 0.7;
    }
  }
}
.active{
  font-weight: bold;
  background: $secondMainColor;
}