@import '../../styles/variable.scss';

.comment{
  display: flex;
  margin: px2rem(5px);
  padding: px2rem(40px);
  @include bottom_border(2px,rgba(58, 58, 58, 0.05));
  @include respond-to($break-large){
    margin: px2rem(2px);
    padding: px2rem(20px);
  }
  @include respond-to($break-handset){

  }
}
.info{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: px2rem(40px);
}
.content{ 
  a{
    font-size: 1.34em;
    font-weight: bold;
  }
}
.time{
  text-align: left;
  // margin-top: $usualPadding;
  font-style: italic;
}

.avatar{
  border-radius: 50%;
  padding: 2px;
}