@import '../../styles/variable.scss';

.main{
  position: fixed;
  bottom: 4rem;
  z-index: 10;
  height: px2rem(280px);
  right:  14.543em;
  width: 36.429em;
  background: $backgroundSecondary;
  overflow-y: hidden;
  font-size: $smallIcon;
  padding: px2rem(5px);
  transition:all 0.2s ease;

  @include respond-to($break-large){
      right:  px2rem(20px);
      width: px2rem(400px);
  }
  @include respond-to($break-medium){
    width: 100%;
    right:0;
    overflow-y: auto;
    .playlistitem{

    }
  }
}

.top{
  display: flex;
  align-items: center;
  &>*{
    &:first-child{
      flex:1;
    }
  }
} 

.none{
  display: none;
}

.playlistitem{
  display: flex;
  padding: px2rem(10px);
  font-size: $mediumIcon;
  &:hover{
    div{
      visibility: visible!important;
    }
  }
}
.playlistitem_hover{
  display: flex;  
  align-items: center;

}
