@import '../../styles/variable.scss';

.main{
  position: fixed;
  bottom: 4.1em;
  z-index: 10;
  height: $playerHeight*5;
  right:  $_100pxEm;
  background: $nav;
  width: 36.429em;
  overflow-y: hidden;
  font-size: $smallIcon;
  padding: $padding/4;
  table{
    border: none;

  tr{
    &:hover{
      background: #000;
      opacity: 0.7;
    }
    td{
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     max-width: 0px;
    }
  }
  }
}

.top{
  display: flex;
  align-items: center;
  &>*{
    &:first-child{
      flex:1;
    }
  }
}
.top_right{

}
.none{
  display: none;
}