@import '../../styles/variable.scss';

.main{
  position: fixed;
  bottom: 4.7em;
  z-index: 10;
  height: px2rem(280px);
  right:  14.543em;
  width: 36.429em;
  background: $backgroundSecondary;
  overflow-y: hidden;
  font-size: $smallIcon;
  padding: px2rem(5px);
  transition:all 0.2s ease;

}

.top{
  display: flex;
  align-items: center;
  &>*{
    &:first-child{
      flex:1;
    }
  }
} 

.none{
  display: none;
}

.playlistitem{
  display: flex;
  padding: px2rem(10px);
  font-size: $mediumIcon;
  &:hover{
    div{
      visibility: visible!important;
    }
  }
}
.playlistitem_hover{
  display: flex;  
  align-items: center;

}

@media screen and(max-width: 1350px){
  .main{
    right:  px2rem(20px);
    width: px2rem(200px);

  }

}