@import '../../styles/variable.scss';

table{
  border: $borderGray;
  border-top: 2px solid $mainColor; 
  border-collapse: collapse;
  width: 100%;
}
td{
  line-height: 1.286em;
  padding: 0.429em 0.714em;
  font-size: $mediumIcon;
  text-align: center;
  a{
    color: #333!important;
    &::visited{
      color: #333;
    }
  } 
}
tr{
  &:hover{
    .anchor{
      div.actions{ 
        display: flex;
       }
       div.duration{
         display: none;
       }
    }
  }
}

.anchor{
  visibility: visible;

}
.duration{
    display: block;
 }
.actions{ 
    display: none;    
    justify-content: space-around;
    width: 100%;

  }



// td:hover[data-tag='anchor']{
//   &>div{
//     visibility: block;
//   }
// }
.active{}