@import '../../styles/variable.scss';

table{
  border: $borderGray;
  border-top: 2px solid $mainColor; 
  border-collapse: collapse;
  width: 100%;
}
td{
  line-height: 1.286em;
  padding: 0.429em 0.714em;
  a{
    color: #333!important;
    &::visited{
      color: #333;
    }
  } 
}

.duration{
    display: block;
 }
.actions{
    display: none;
  }



// td:hover[data-tag='anchor']{
//   &>div{
//     visibility: block;
//   }
// }
.active{}