@import '../../styles/variable.scss';

.base {
  position: fixed;
  bottom: 0;
  height: $playerHeight;
  width: 100vw;
  z-index: 9;
  transition: 0.2s transform ;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: rgba(226,226,226,1);
button{
}
  @include respond-to($break-medium){
    overflow:visible;
    .blurredContentFrame{
      display: none;
    }
    .content{
      padding:5px 10px;
    }
    .volume_container{
      right: 10px;
      position: absolute;
      bottom: 50px;
      background: cadetblue;
      padding: 20px;
    }
    .trackName{
      @include ellipsisTexts(px2rem(150px));
    }
    .content_plays{
    }
    .content_name{
      flex:3 ;
    }

    .content_options{
      flex:0;
      > div {
        margin: 0 5px;

      }
    }
  }

  @include respond-to($break-handset){
    .content_plays{
      > div:nth-child(1){
        display: none;
      }
      > div:nth-child(2){
        display: none;
      }
    }
    .trackName{
      @include ellipsisTexts(130px)
    }
    .content_options{

      > div:nth-child(2){
        display: none;
      }
    }
  }

}

.player_visible{
  composes:base;
  transform: translateY(0);
}

.active{
  color: $mainColor;
}
.content {
  padding: 5px 50px;
  width: 100%;
  height: 100%;
  display: flex;
}
.content_plays {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_img{
  // padding: 2px;
  border-radius: 5px;
  // border: $border;
  text-align: center;
  margin-top: 5px;
}

.content_dur{
  color:$mainFontColor;
  margin-left: $padding;  
  &>span{
    display: block;
  }
}
.trackName{
  display: block;
  font-size: $mediumIcon;
  font-weight: bold;
  @include ellipsisTexts(px2rem(250px));

}
.author{
  display: block;
  font-size: $smallIcon;
  color: $seconFontColor;
}
.content_plays>div{
  margin: 0 7px;
}
.content_name {
  flex:1;
  display: flex;
  align-items: center;
  margin-left: $padding;    
}
.content_options {
  flex:1 20%;
  display: flex;
  align-items: center;
}
.content_action{
  display: flex;
  align-items: center;
}
.content_options>div{
  margin: 0 $padding;
}
.range{ 
  width: 100%; 
  visibility: visible;
}
.range_visible{
  composes:range;
  visibility: visible;
}

.volume_container{  
  margin-left: $padding/2;
}


/*------------毛玻璃--------*/
.blurredContentFrame{
  position: absolute;
  overflow: hidden;
  filter: blur(8px);
  top:0;
  z-index: -1;
  left: -40px;
}
.fronsted_glass{ 
  position: absolute;
  &>*{
    background: inherit;
  }
}


/*----------- media query ----------*/


@media screen and (min-width: 1600px){
.blurredContentFrame{
  left:-60px;
  }
}

@media screen and(max-width: 1200px ) {
  .content_plays{
    flex: 1 20%;
  }
  .content_name{
    flex:1 10%;
  }

}