@import '../../styles/variable.scss';
.base {
  position: fixed;
  bottom: 0;
  height: $playerHeight;
  width: $contentMinWidth!important;
  left:$_asiderWidth;
  z-index: 3;
  /*top: 100%;*/
  transition: 0.2s transform ;
  // transform: translateY(90%) ; 
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: rgba(226,226,226,1);
}

.visible{
    composes:base;
    transform: translateY(0);
  }
.active{
  color: $mainColor;
}
.content {
  padding: 5px 50px;
  width: 100%;
  height: 100%;
  // background: #222222;
  display: flex;
}
.content_plays {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_img{
  // padding: 2px;
  border-radius: 5px;
  // border: $border;
  text-align: center;
  margin-top: 5px;
}

.content_dur{
  color:$mainFontColor;
  margin-left: $padding;  
  &>span{
    display: block;
  }
}
.trackName{
  font-size: $mediumIcon;
  font-weight: bold;
  @include ellipsisTexts($_100pxEm*2.5);

}
.author{
  font-size: $smallIcon;
  color: $seconFontColor;
}
.content_plays>div{
  margin: 0 7px;
}
.content_name {
  flex:1;
  display: flex;
  align-items: center;
  margin-left: $padding;    
}
.content_options {
  flex: 1;
  display: flex;
  align-items: center;
}
.content_action{
  display: flex;
  align-items: center;
}
.content_options>div{
  margin: 0 $padding;
}
.range{ 
  width: 100%; 
  visibility: visible;
}
.range_visible{
  composes:range;
  visibility: visible;
}

.volume_container{  
  margin-left: $padding/2;
}


/*------------毛玻璃--------*/
.blurredContentFrame{
  position: absolute;
  overflow: hidden;
  filter: blur(8px);
  top:0; 
  left: $padding; 
  // background: red;    
  margin: -$padding;
  z-index: -1;
  &::before{
     margin:-20px;
    //  background: url('../../../public/images/glass.jpg')
  }
}
.fronsted_glass{ 
  position: absolute;
  &>*{
    background: inherit;
  }
}


