@import '../../styles/variable.scss';
.base {
  position: fixed;
  bottom: 0;
  height: $playerHeight;
  width: $contentMinWidth!important;
  left:$_asiderWidth;
  z-index: 2;
  /*top: 100%;*/
  transition: 0.2s transform ;
  // transform: translateY(90%) ; 
  display: flex;
  overflow: hidden;
}

.visible{
    composes:base;
    transform: translateY(0);
  }
.active{
  color: $mainColor;
}
.content {
  padding: 5px 50px;
  width: 100%;
  height: 100%;
  // background: #222222;
  display: flex;
}
.content_plays {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_img{
  // padding: 2px;
  border-radius: 5px;
  // border: $border;
  text-align: center;
}

.content_dur{
  color:$mainFontColor;
  margin-left: $padding;  
  &>span{
    display: block;
  }
}
.trackName{
  font-size: $mediumIcon;
  font-weight: bold;
  @include ellipsisTexts($_100pxEm*2.5);

}
.author{
  font-size: $smallIcon;
  color: $seconFontColor;
}
.content_plays>div{
  margin: 0 7px;
}
.content_name {
  flex:1;
  display: flex;
  align-items: center;
  margin-left: $padding;    
}
.content_options {
  flex: 1;
  display: flex;
  align-items: center;
}
.content_action{
  display: flex;
  align-items: center;
}
.content_options>div{
  margin: 0 $padding;
}
.range{
  background: green;
  width: 100%;
  bottom: $playerHeight;
  margin: 0 8px;
  position: absolute;
  visibility: hidden;
}
.range_visible{
  composes:range;
  visibility: visible;
}

.volume_container{  
  margin-left: $padding/2;
}


/*------------毛玻璃--------*/
.fronsted_glass{
  position:absolute;
  content: "";
  top:0;
  right: 0;
  left: 0;
  bottom: 0;  
  filter: blur(8px);
  z-index: -1; 
  &::before{
  // background: red;
  }  
}


