@import '../../styles/variable.scss';

.container{  
  padding: $padding;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: px2rem(10px);
    background: $secondMainColor;
    div{
      color: $white;
      padding: 20px;
      font-size: $mediumIcon;
      &.active{
        background-color: $thirdMainColor;
        color: $white;
      }
      a{
        color: inherit;
      }
    }
}