@import '../../styles/variable.scss';
.mini{
  display: flex;
  align-content: center;
  width: inherit;
  margin: 1.429em 0;
  &:hover{
    .actions{
       opacity:1;
    }
  }
}

.track{
  display: flex;
  align-content: center;
  text-overflow: inherit;
  white-space: inherit;
  overflow: inherit;
  width: inherit;
}

.actions{
  // position: absolute;
  transition: opacity 0.2s ease;
  opacity: 0;
  position: absolute;
  right: 0;
  padding: $padding;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background: $white;
}
.visibleActions{
  composes:actions;
  opacity:1;
}